{% extends "base.html.twig" %}

{% block main %}
    <div class="row">
        <div id="form-container" class="col m10 offset-m1 white">
            {% block form %}
            {% endblock %}
        </div>
    </div>

{% endblock %}

