{% extends "base.html.twig" %}

{% block body %}
    <div class="well">
        <h3>{{ skill.name }}</h3>



        <p>{{ skill.description }}
        </p>

        <a href="{{ path('story', {"slug": story.slug}) }}">
            <button>back to Story page</button>
        </a>

    </div>

{% endblock %}