{% extends "base.html.twig" %}

{% block main %}
    <div class="well">
        <h3>{{ weapon.name }}</h3>



        <p>{{ weapon.description }} <br/>
            {% if weapon.weaponSkill %}
        <em>{{ weapon.weaponSkill.name }}</em>
            {% endif %}
        </p>

        <a href="{{ path('story', {"slug": story.slug}) }}">
            <button>back to Story page</button>
        </a>

    </div>

{% endblock %}