{# Use of Materialize Toast for flash messages #}
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}

                    <script>
                        let color = "";
                        switch("{{ type }}") {
                            case "danger":
                                color = "red darken-4";
                                break;
                            case "warning":
                                color = "yellow darken-4";
                                break;
                            case "success":
                                color = "green darken-4";
                                break;
                            default:
                                color = "";
                                break;
                        }
                        let toastHTML = '<span>{{ message }}</span><button class="btn-flat toast-action">&times</button>';
                        M.toast({html:toastHTML, classes: color }, 4000 );
                        const toastElement = document.querySelector('.toast');
                        const toastInstance = M.Toast.getInstance(toastElement);
                        const toastAction = document.querySelector('.toast-action');
                        toastAction.onclick = function () {
                            toastInstance.dismiss();
                        }

                    </script>
                {% endfor %}
            {% endfor %}
        {% endif %}