


.adventure {
  top: 0;
  padding-top: 15%;
  background-color: white;
  height: 100vh;
  z-index: 1;
}

.choices-chapter-container, .special-items-chapter-container,
.consumable-items-chapter-container, .weapons-chapter-container, .monsters-chapter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .card-item {
    margin-left: 0 !important;
  }

  a {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

.stories-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .card-item {
    margin-left: 0 !important;
  }
}

.disabled {

    color: currentColor;
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
    text-decoration: none;

}







