body {
  background: url("../images/bg-home.jpg") no-repeat top center fixed;
}

h2 {
  color: color("teal", "base");
}


#home-nav, #about-nav, #editor-nav, #adventures-nav, #profile-nav, #connect-nav {
  transition: all 0.5s ease 0.2s !important;
  text-shadow: 1px, 1px, 1px, #000;

}

#home-nav {
  &:hover {
    transform: scale(1.3);
    color: color("teal", "lighten-2") !important;
  }
}
#about-nav {
  &:hover {
    transform: scale(1.3);
    color: color("blue", "lighten-2") !important;
  }
}
#editor-nav {
  &:hover {
    transform: scale(1.3);
    color: color("yellow","lighten-2") !important;
  }
}
#adventures-nav {
  &:hover {
    transform: scale(1.3);
    color: color("green", "lighten-2") !important;
  }
}
#profile-nav, #connect-nav {
  &:hover {
    transform: scale(1.3);
    color: $primary-color !important;
  }
}

.sidenav-header {
  width: 100%;
  display: block;
  height: 20%;
  margin-bottom: 2rem;
}
.sidenav .user-view {
  height: 300px !important;
  .brand-logo {
    text-shadow: 1px 1px 1px #000;
  }
}
.sidenav {
  .collapsible-header {
    padding-left: 32px;
    padding-right:  70px;
  }
}
.dropdown-content {
  li {
    transition: all 0.5s ease 0.2s !important;
    &:hover {
      background-color: rgba(0,0,0,0) !important;
    }
  }
  a {
    color: white !important;
    transition: all 0.5s ease 0.2s !important;
    &:hover {
      background-color: rgba(0,0,0,0) !important;
      transform: scale(1.3);
      color: $primary-color !important;
    }
  }
}

h2 {
  text-shadow: 2px 2px 2px #000;
}
