
  .hero-container {
    position: fixed;
    z-index: 2;
    right: 0;
    top: 20%;
    min-width: 12em;
    li {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      padding-left: 0.25em;
      min-width: 15rem;
    }
    span {
      padding-left: 20%;

      }
    .title {
      min-width: 10rem;
    }
  }

  .weapon-container, .backpack-container, .specialItems-container  {
    .title {
      margin-right: 3em;
      padding-left: 5%;
    }
    .badge {
      position: absolute;
      right: 3em;
      padding-left: 6px !important;
    }
    .secondary-content {
      position: absolute;
      right: 1em;
    }
  }

  span.badge {
    min-width: 2rem !important;
  }


