<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}" />
    {% endblock %}
</head>
<body>

    {% include "/default/_navbar.html.twig" %}

    {% block main %}{% endblock %}

    {% block javascripts %}

    <script src="{{ asset('build/js/app.js') }}"></script>

    {% include "/default/_flash_messages.html.twig" %}

    {% endblock %}
</body>
</html>
